@{
	ViewData["Title"] = "AboutUs";
}

<div class="section__container about__container" id="about">
	<h2 class="section__header">ABOUT US</h2>
	<p class="section__description">
		At Capturer, we specialize in freezing those fleeting moments in time
		that hold immense significance for you. With our passion for photography
		and keen eye for detail, we transform ordinary moments into
		extraordinary memories.
	</p>
	<p class="section__description">
		Whether it's a milestone event, a candid portrait, or the breathtaking
		beauty of nature, we strive to encapsulate the essence of every moment,
		ensuring that your cherished memories last a lifetime. Trust us to
		capture the magic of your life's journey, one frame at a time.
	</p>
	<img src="~/assets/logo-dark.png" alt="logo" />
</div>

<div class="container">
	<h2 style="text-align: center;">MEET OUR TEAM</h2>
	<div class="ourteamsection my-4" style="display: flex; justify-content: center;">
		<div class="team1" style="text-align: center;">
			<img src="~/Images/Static_Imgs/AboutUs/akash.jpg" alt="..." class="teamimag1">
			<h3>Akash Hapani</h3>
			<p>Lead Photographer</p>
		</div>
		<div class="team2" style="margin-left: 20px; text-align: center;">
			<img src="~/Images/Static_Imgs/AboutUs/akash.jpg" alt="..." class="teamimag2">
			<h3>Jenish Hapani</h3>
			<p>Second Photographer</p>
		</div>
		<div class="team2" style="margin-left: 20px; text-align: center; margin-right: 20px;">
			<img src="~/Images/Static_Imgs/AboutUs/akash.jpg" alt="..." class="teamimag2">
			<h3>Smit Vaddoriya</h3>
			<p>Front-End Developer</p>
		</div>
		<div class="team3" style="text-align: center;">
			<img src="~/Images/Static_Imgs/AboutUs/akash.jpg" alt="..." class="teamimag3">
			<h3>Harshil Kalariya</h3>
			<p>Back-End Developer</p>
		</div>

	</div>
</div>