@{
	ViewData["Title"] = "Blog";
}

<section class="blog my-4" id="blog">
	<div class="section__container blog__container">
		<div class="blog__content">
			<h2 class="section__header">~ LATEST BLOG ~</h2>
			<h4>Capturing Emotion in Every Frame</h4>
			<p>
				This blog post delves into the importance of storytelling in
				photography and how Capturer approaches capturing emotion and
				narrative in their work. Readers will discover the techniques and
				strategies used by professional photographers to evoke emotion,
				convey meaning, and create compelling visual narratives that
				resonate with viewers on a deep level.
			</p>
			<div class="blog__btn">
				<button class="btn">Read More</button>
			</div>
		</div>
	</div>
</section>
<div class="second-section">
	<div class="img1">
		<img src="~/Images/Static_Imgs/Blog/blog1.webp" alt=".." class="img-fluid">
	</div>
	<div class="second-section1">
		<div>
			<img src="~/Images/Static_Imgs/AboutUs/akash.jpg" alt=".." class="a-img teamimag1">
			<h2>Akash Hapani</h2>
			<p>Writer , Photographer , Founder</p>
			<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>

			<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li class="list-inline-item">
				<a href="https://wa.me/+918141668234/?text=Hello%20there!">
					<i class="fab fa-whatsapp"></i>
				</a>
			</li>
		</div>
	</div>
</div>
<div class="container my-5">
	<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card h-100">
				<img src="~/Images/Static_Imgs/Blog/p1.jpg" class="card-img-top img2" alt="Blog Image 1">
				<div class="card-body">
					<h5 class="card-title">Tips for Capturing Beautiful Portraits</h5>
					<p class="card-text">
						Learn how to take stunning portraits with these expert tips from our team.
					</p>
					<a href="#" class="btn btn-primary">Read More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card h-100">
				<img src="~/Images/Static_Imgs/Blog/p2.jpg" class="card-img-top img2" alt="Blog Image 2">
				<div class="card-body">
					<h5 class="card-title">Behind the Scenes: Wedding Photography</h5>
					<p class="card-text">
						Get a glimpse into the world of wedding photography with our latest blog
						post.
					</p>
					<a href="#" class="btn btn-primary">Read More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card h-100">
				<img src="~/Images/Static_Imgs/Blog/p3.jpg" class="card-img-top img2" alt="Blog Image 3">
				<div class="card-body">
					<h5 class="card-title">Landscape Photography: Capturing Nature's Beauty</h5>
					<p class="card-text">Discover the secrets to taking breathtaking landscape photographs.</p>
					<a href="#" class="btn btn-primary">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>